<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SWEG MALL</title>
   <!-- css 초기화 -->
  <link
   rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
   />
  <link rel="stylesheet" href="/css/product.css" />
  <!-- 구글폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <!-- 구글 아이콘 -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <!-- swiper -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>
<body>
  <div class="wrap">
    <div class="top">
      <%-include('./include/nav.ejs')%>
    </div>
    <hr class="line">
    <div class="contents_area_wrap">
      <div class="product_view_wrap_div">
        <div class="product_view">
          <div class="product_view_top_area">
            <div class="product_image_area">
              <div class="product_view_swiper_wrap">
                <div class="pro_view_swiper_single">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src ="<%=product.img%>">
                    </div>
                    <div class="swiper-slide">
                      <img src ="<%=product.img%>">
                    </div>
                    <div class="swiper-slide">
                      <img src ="<%=product.img%>">
                    </div>
                  </div>
                  <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal" style="z-index: 1;"></div>
                  <div class="pro_thumb_swiper_prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-8116ae3197344a76">
                    <img src="/img/common/swipe_btn_prev.png" alt="swiper prev button">
                  </div>
                  <div class="pro_thumb_swiper_next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-6a819b01c442ea54">
                    <img src="/img/common/swipe_btn_next.png" alt="swiper next button">
                  </div>
                </div>
              </div>
              <script>
                var swiper = new Swiper(".pro_view_swiper_single", {
                loop: true,
                pagination: {
                  el: ".swiper-pagination",
                },
                navigation: {
                  prevEl: ".pro_thumb_swiper_prev",
                  nextEl: ".pro_thumb_swiper_next",
                        }
                });
              </script>
            </div>
            <div class="purchase_func_area">
              <div class="purchase_func">
                <div class="total_cost_area">
                  <div class="total_cost_bar">
                    <div class="open_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.702" height="7.713" viewBox="0 0 13.702 7.713">
                            <path id="패스_644" data-name="패스 644" d="M135.812,224.224l-6.5,6.6.392.4,6.108-6.2,6.108,6.2.392-.4Z" transform="translate(-128.961 -223.868)" fill="#fff" stroke="#fff" stroke-width="0.5"></path>
                        </svg>
                    </div>
                    <div class="info_text">Total</div>
                    <div class="total_cost">￦ <%= product.price%></div>
                  </div>
                </div>
                <div class="product_base_info">
                  <div class="pro_name">
                    <%=product.name%> <%=product.color%>
                  </div>
                  <div class="state_area">
                    <div class="model_name"><%=product.model%></div>
                    <div class="state_wrap">
                        <div class="state_set">                                    
                          <% if(product.count == 0) {%> <div class="badge">품절</div>
                          <%} %>
                        </div>
                        <div class="price_mobile">
                          <div class="price_sale"><%=product.price%></div>
                        </div>
                    </div>
                  </div>
                  <div class="info_area">
                    <div class="info_set info_quantity">
                      <div class="title_info">
                          수량
                      </div>
                      <div class="con_info quantity_ui">
                          <a href="javascript:;" class="count_btn count_minus active">
                              <img src="/img/common/icon_count_minus.svg" alt="">
                          </a>
                          <div class="count_num">1</div>
                          <a href="javascript:;" class="count_btn count_plus">
                              <img src="/img/common/icon_count_plus.svg" alt="">
                          </a>
                      </div>
                    </div>
                    <div class="info_set info_delivery">
                      <div class="title_info">
                          배송비
                      </div>
                      <div class="con_info info_delivery_btn">
                          <div>무료</div>                                
                      </div>
                    </div>
                  </div>
                  <div class="price_area">
                    <div class="price_pc">                       
                      <div class="price_sale">￦ <%=product.price%></div>
                    </div>
                  </div>
                </div>
                
                <div class="btn_set">
                  <%if(product.count == 0) {%>
                    <a href="javascript:;" class="btn_basic positive" onclick="" style="width:100%;">재입고 알림 신청</a>
                  <%} else {%>
                    <a href="javascript:;" class="btn_basic positive" onclick="">바로 구매</a>
                    <a id="btn_add_cart" class="btn_basic positive" onclick="">쇼핑백 담기</a>
                  <% } %>
                </div>
                <div class="blank_div"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_detail_area_wrap">
          <div class="product_detail_bar">
            <div class="product_detail_bar_wrap">
              <div class="pro_name_area">
                <%=product.name%> <%=product.color%>            
              </div>
              <div class="anchor_area">
                <div class="anchor_item_set">
                  <a href="javascript:;" class="item anchor_pro_detail" >
                        제품상세
                      <div class="red_bar"></div>
                  </a>
                  <a href="javascript:;" class="item anchor_pro_notice" >
                        상품 정보 고시
                      <div class="red_bar"></div>
                  </a>
                  <a href="javascript:;" class="item anchor_pro_shipping">
                        배송안내
                      <div class="red_bar"></div>
                  </a>
                  <a href="javascript:;" class="item anchor_pro_ordercancel">
                        교환/반품/취소 안내
                      <div class="red_bar"></div>
                  </a>
                  <a href="javascript:;" class="item anchor_pro_as" onclick="scroll_move('product_as_info');">
                        A/S 안내
                      <div class="red_bar"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script defer>
  const count_minus_btn = document.querySelector('.count_minus');
  const count_plus_btn = document.querySelector('.count_plus');
  const count_num = document.querySelector('.count_num');
  const total_cost = document.querySelector('.total_cost');
  let total = 1;
  count_minus_btn.addEventListener("click", (e) => {
    if(total !== 1){
      total = total - 1;
      count_num.textContent = total;
      total_cost.textContent = total * <%=product.price%>;
    }
  })
  count_plus_btn.addEventListener("click", (e) => {
    if(total >= <%= product.count %>){
      alert('재고가 부족합니다');
      return;
    }
    total = total +1;
    count_num.textContent = total;
    total_cost.textContent = total * <%=product.price%>;
  })


  const add_cart_btn = document.querySelector('#btn_add_cart');
  add_cart_btn.addEventListener("click", (e) => {
    console.log(document.cookie.split('; ')); // 쿠키 별 자르기
    let cartIndex = -1; // 기본 -1
    const findCartindex = document.cookie.split('; ').map((item, idx) => {
      if(item.includes('cart')){
        cartIndex = idx;
        return; // 찾으면 끝냄
      }
    });
    console.log(cartIndex);

  
    if(cartIndex == -1){ // 쿠키 없으면
      console.log('cart 쿠키 생성');
      document.cookie = `cart=<%=product.model%>;`
    }else{ // 쿠키 존재하면
      console.log('cart 쿠키에 추가');
      // console.log(document.cookie.split('; ')[cartIndex].split('=')); // cart 쿠키 key, value로 분리
      let cartCookie = document.cookie.split('; ')[cartIndex].split('=');
      let cartCookieValue =cartCookie[1];
      cartCookie.map((item, idx) => {
        if(idx!=0){
          cartCookieValue = cartCookieValue + `/<%=product.model%>`;
        }
      })
      console.log(cartCookie);
      console.log(cartCookieValue);
      document.cookie = `cart=${cartCookieValue};`
    }
    
  
    
   
  })
</script>